/* Leaflet Date Button
   Inspired for Mapbox geocoder
------------------------------------------------------- */

.leaflet-bar .leaflet-control .leaflet-control-date-wrap {
	background:#fff;
	position: relative;
	border:1px solid #999;
	border-color:rgba(0,0,0,0.4);
	overflow:hidden;
	right:26px;
	height:28px;
	width:0;
	top:-1px;
	border-radius:0 3px 3px 0;
	opacity:0;
	-webkit-transition:opacity 100ms;
	   -moz-transition:opacity 100ms;
	     -o-transition:opacity 100ms;
	        transition:opacity 100ms;
}

.leaflet-bar .leaflet-control .leaflet-control-date-form input {
	background:transparent;
	border:0;
	width:180px;
	padding:0 0 0 10px;
	height:26px;
	outline:none;
}