body{
    position:fixed;
}

.content {
    padding-top: 50px;
    height:100%;
    width: 100%;
}

#map {
    height: 100%;
    width: auto;
    z-index: 0;
}

.filters {
    position: absolute;
    top: 9px;
    left: 19px;
    height: auto;
    width: auto;
    color:white;
    z-index: 1000;
    user-select: none;
}

.main-filter-display {
    font-size: 16px;
    font-weight: lighter;
    text-align: left;
    height: auto;
    width: auto;
    cursor: pointer;
}

.filter-display {
    display: inline-block;
    height: 100%;
    width: auto;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    text-align:center;
}

.bottom-but {
	padding: 10px 10px 10px 10px;
	width: auto;
	height: auto;
	background: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    text-align:center;
    display: inline-block;
    cursor: pointer;
}

.bottom-div {
	z-index:1000;
    position: absolute;
    bottom: 10px;
    left: 10px;
}


.left-pane {
    height: 100%;
    z-index: 10;
    padding: 0px;
    margin: 0px;
    border: 5px solid #FFF;
    border-radius: 3px;
}

.row {
    margin: 0px;
}

#landsat-wall{
    height: 100%;
    width: 100%;
    text-align:center;
    overflow-y: scroll;
    overflow-x: hidden;
    display: block;
    padding: 0px;
    margin: 0px;
}

#landsat-wall h4noim{
    position: relative;
    top: 50%;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    padding-top: 4px;
    color: rgba(0, 0, 0, 1);
    letter-spacing: 1px;
    font-size: 14px;
}

.result-content {
    position:  relative;
    background: #FFF;
    padding-top: 1px;
}

.result-overlay{
    position: absolute;
    top: 8px;
    left: 8px;
    color: white;
    width: 100%;
    text-align: left;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14px;
    letter-spacing: 1px;

    span{
        padding-left: 5px;
    }

    div{
        float: right;
    }
}

.img-thumb {
    width:100%;
    height:auto;
    opacity: 1;

}

.display-none {
    display: none;
}

.cloud-filter, .date-filter, .season-filter{
    height: 90px;
    min-width: 100%;
    margin-top: 5px;
    background: rgba(0, 0, 0, 0.7);
    padding: 20px 15px 20px 15px;
}

.leaflet-slider{
    min-height: 50px;
    min-width: 200px;
    background: rgba(0, 0, 0, 0.7);
    vertical-align: middle;
    margin-bottom: 10px;
    padding: 3px 15px 3px 15px;
    text-align:center;
}

@media ( min-width :767px) {
    .leaflet-slider{
        margin-bottom: 0px;
        width:400px;
    }
}

hbut {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: right;
    color: rgba(255,255,255,1);
    letter-spacing: 1px;
    font-size: 12px;
    vertical-align: middle;
}

@media ( min-width :767px) {
    hbut{
        font-size: 18px;
    }
}

.h4noim{
    position: absolute;
    top: 50%;
    pointer-events: none;
    text-align:center;
    width: 100%;
}

.img-thumb-modal {
    width:50%;
    padding-top: 5px;
    height:auto;
}


#modalAPI {
    max-width: 100%;
    overflow-y: scroll;
}

.marker-circle span {
	font-weight: 100;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #FFF;
}

.marker-circle {
  color: #FFF;
  text-align: center;
  vertal-align: false;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.7);
  background: rgba(0, 0, 0, 0.7);
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

#closewall{
    position: absolute;
    width: auto;
    height: auto;
    color: #FFF;
    top: 7px;
    right: 7px;
    opacity: 1;
    cursor: pointer;
    z-index: 10000;
}

.select-band{
    padding: 8px;
}
